/.quarto/

# byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class

.DS_Store

# distribution / packaging
.python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
manifest

# jupyter notebook
.ipynb_checkpoints
# pyenv
.python-version

# pipenv
#   according to pypa/pipenv#598, it is recommended to include pipfile.lock in version control.
#   however, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#pipfile.lock

# pep 582; used by e.g. github.com/david-oconnor/pyflow
__pypackages__/

# environments
.env
.venv
env/
venv/
env/
env.bak/
venv.bak/

*.txt
*.yml


data/
runs/